In [1]:
prime = [2,3,5,7,11,13]
prime_square = [x**2 for x in prime]
prime_square

[4, 9, 25, 49, 121, 169]

In [2]:
multiplication = [i * j for i in range(1,3) for j in range(1,10)]
multiplication

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [3]:
mat = [
    [1,2,3,4],
    [5,6,7,8]
]

In [4]:
I = 2
J = 4
mat = [[i * J + j + 1 for j in range(J)] for i in range(I)]
mat

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [5]:
prime = [2,3,5,7,11,13]
prime_square = [x**2 for x in prime if x**2 > 100]
prime_square

[121, 169]

In [7]:
name_list = [('yamada',20),('satou',35),('tanaka',50),('suzuki',40)]
[i for i in range(len(name_list)) if name_list[i][1] >= 30]

[1, 2, 3]

In [8]:
num = [[1,2,3,4,5],
       [6,7,8,9,10]]
col = [row[2] for row in num]
print(col)

[3, 8]

In [9]:
list1 = [1,2,3,4,5,6,7,8,9]
[x if x%2==0 else None for x in list1]

[None, 2, None, 4, None, 6, None, 8, None]

In [10]:
[x * y for x in range(3) for y in range(x+1)]

[0, 0, 1, 0, 2, 4]